<div class="container">
  <div class="row align-items-center">
    <div class="col-md-4 offset-md-3">
      <% if @book.image.attached? %>
        <%= image_tag @book.image, class:"book-show"%>
      <% end %>
    </div>
  
    <div class="col-md-8">
      <div class="book-info">
        <h1 class="book-title"><%= @book.title%></h1>
        <h3 class="book-category"><%= @book.category.name %></h3>
        <p class="book-desc"><%= @book.description %></p>
        <h3 class="book-author"><span> From : </span><%= @book.author %></h3>
      </div>
      <div class="book-info-content">
          <p class="book-content"><%= @book.content %></p>
        </div>
    </div>
        
  </div>
</div>